<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="RutaLog" value="C:\Log\GestionVehicular\"/>
  </appSettings>
  <connectionStrings>
    <add name="VSGVTESTConnectionString" connectionString="Data Source=PROGRAMADOR2-PC\TEST;Initial Catalog=VSGVTEST;User ID=sa;Password=Batman2017" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <customErrors mode="Off"></customErrors>
  </system.web>
</configuration>