<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="VSSECTESTConnectionString" connectionString="Data Source=PROGRAMADOR2-PC\TEST;Initial Catalog=VSSECTEST;User ID=sa;Password=Batman2017"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="RutaLog" value="C:\Log\SatisfaccionCapacitacion\"/>
    <add key="RutaBuscar" value="C:\Users\Programador2\Documents\Visual Studio 2013\WebSites\Satisfaccion de Entrenamiento y Capacitacion\Documentos\"/>
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSInfoUnidadNegocioSoapBinding" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="WSInfoUnidadNegocioSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://mrc.humansite.com.mx/awsinfounidadnegocio.aspx"
        binding="basicHttpBinding" bindingConfiguration="WSInfoUnidadNegocioSoapBinding"
        contract="HumanSite.WSInfoUnidadNegocioSoapPort" name="WSInfoUnidadNegocioSoapPort" />
    </client>
  </system.serviceModel>
</configuration>