<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="VSEITESTConnectionString" connectionString="Data Source=PROGRAMADOR2-PC\TEST;Initial Catalog=VSEITEST;User ID=sa;Password=Batman2017"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="RutaLog" value="C:\Log\ReporteExplosionInsumos\"/>
    <add key="RutaBuscar" value="C:\Users\Programador2\Documents\Visual Studio 2013\WebSites\ReporteExplosionInsumos\Documentos\"/>
    <add key="RutaPDF" value="http://mrc.sytes.net/ReporteInsumos/Documentos/"/>
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <customErrors mode="Off"></customErrors>
  </system.web>
</configuration>